<article class="articles">
    <% wineList.forEach(wine=> { %>
        <div class="article">
            <img src="<%= wine.imagen %>" alt="<%= wine.nombre %>">
            <h3>
                <%= wine.nombre %>
            </h3>

            <p>
                Bodega: <%= wine.bodega %>
            </p>
            <p>
                $<%= wine.precio %>
            </p>
            <form action="/products/productdetail/<%= wine.id%>" method="GET">
                <a href="/products/productdetail/<%= wine.id %>">Ver más</a>
            </form>
        </div>
        <% }) %>
</article>