<article class="articles">
  <% wineList.forEach(product=> { %>
  <div class="article">
    <a href="/products/productdetail/<%= product.dataValues.ID_Product %>">
      <img src="<%= product.dataValues.Image %>" alt="<%= product.dataValues.drink_name %>" />
      <h3><%= product.dataValues.drink_name %></h3>

      <% if (product.dataValues.drink_type.toLowerCase() === "vino") { %>
        <p>Bodega: <%= product.dataValues.brand %></p>
    <% } else { %>
        <p>Marca: <%= product.dataValues.brand %></p>
    <% } %>

        <p class="precio">Precio: $<%= product.dataValues.price %></p>
      <% if (locals.isLogged) { %> <% if (locals.userLogged.category == "admin")
      { %>

      <div class="btn-edit-del">
        <form action="/products/productmod/<%= product.dataValues.ID_Product %>?" method="GET">
          <button class="edit" type="submit">Editar</button>
        </form>
        <form
          action="/products/productdel/<%= product.dataValues.ID_Product %>>?_method=delete"
          method="POST"
        >
          <button class="delete" stype="submit">Eliminar</button>
        </form>
      </div>
      <% } %> <% } %>
    </a>
  </div>
  <% }) %>
</article>
