<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
      <h1>User Profile:</h1>
      
      <div class="profile-container">
        <div class="profile-card">
            <img src="<%= locals.userLogged.image %>" alt="Imagen de <%= locals.userLogged.firstName %>" class="profile-image">
            <h2 class="profile-name"><%= locals.userLogged.lastName %>, <%= locals.userLogged.firstName %></h2>
            <p class="profile-email"><%= locals.userLogged.email %></p>
            <p class="profile-category">Categoría: <%= locals.userLogged.category %></p>
        </div>
    </div>

    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
