<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/productDetail.css" <body>
    <%- include('../partials/header.ejs') %>

        <div class="article">
            <img src="<%= wine.imagen %>" alt="<%= wine.nombre %>">
            <h3>
                <%= wine.nombre %>
            </h3>
            <p>
                <%= wine.descripcion %>
            </p>
            <p>
                Bodega: <%= wine.bodega %>
            </p>
            <p>
                $<%= wine.precio %>
            </p>

            <form action="/products/productdetail/<%= wine.id%>" method="GET">
                <button>
                    Agregar al carrito
                </button>
            </form>
            <form action="/products/productdetail/<%= wine.id%>" method="GET">
                <button>
                    Editar
                </button>
            </form>
            <form action="/products/productdetail/<%= wine.id%>" method="GET">
                <button>
                    Eliminar
                </button>
            </form>
        </div>

        </body>

        <%- include('../partials/footer.ejs') %>

</html>