<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main class="form-section">
      <div class="container">
        <h2 class="text-center">Cargar nuevo producto</h2>
        <form
          action="/products/add"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="name">Nombre del producto</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= locals.oldData ? oldData.name : '' %>"
          />
          <% if (locals.errors && errors.name) { %>
          <p class="text-danger"><%- errors.name.msg %></p>
          <% } %>
          <div class="form-group">
            <label for="drink_description">Descripción</label>
            <textarea
              class="form-control"
              id="description"
              name="drink_description"
            ><%= locals.oldData ? oldData.description : '' %></textarea>
            <% if (locals.errors && errors.description) { %>
            <p class="text-danger"><%= errors.description.msg %></p>
            <% } %>
          </div>
          <div class="form-group">
            <label for="Image">Imagen</label>
            <input type="file" class="form-control" id="Image" name="Image" />
            <% if (locals.errors && errors.image) { %>
            <p class="text-danger"><%= errors.image.msg %></p>
            <% } %>

            <div class="form-group">
              <label for="drink_type">Tipo de bebida</label>
              <select class="form-control" id="drink_type" name="drink_type">
                  <% drinkTypes.forEach(drinkType => { %>
                      <option value="<%= drinkType.dataValues.ID_Drinktype %>">
                          <%= drinkType.dataValues.Name %>
                      </option>
                  <% }); %>
              </select>
          </div>
          <div class="form-group">
            <label for="presentation">Presentación</label>
            <input   type="number" class="form-control" id="presentation" name="presentation" required>
        </div>

          <div class="form-group">
            <label for="bodega">Marca</label>
            <input
              type="text"
              class="form-control <%= locals.errors && errors.bodega ? 'is-invalid' : '' %>"
              id="brand"
              name="brand"
              value="<%= locals.oldData ? oldData.bodega : '' %>"
            />
            <% if (locals.errors && errors.bodega) { %>
            <p class="text-danger"><%= errors.bodega.msg %></p>
            <% } %>
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input
              type="number"
              class="form-control <%= locals.errors && errors.cantidad ? 'is-invalid' : '' %>"
              id="Stock"
              name="Stock"
              value="<%= locals.oldData ? oldData.cantidad : '' %>"
            />
            <% if (locals.errors && errors.cantidad) { %>
            <p class="text-danger"><%= errors.cantidad.msg %></p>
            <% } %>
          </div>
          <div class="form-group">
            <label for="price">Precio</label>
            <input
              type="number"
              class="form-control <%= locals.errors && errors.price ? 'is-invalid' : '' %>"
              id="price"
              name="price"
              value="<%= locals.oldData ? oldData.price: '' %>"
            />
            <% if (locals.errors && errors.price) { %>
            <p class="text-danger"><%= errors.price.msg %></p>
            <% } %>
          </div>
          <div class="form-group">
            <label for="price">Código</label>
            <input
              type="number"
              class="form-control <%= locals.errors && errors.price ? 'is-invalid' : '' %>"
              id="Barcode"
              name="Barcode"
              value="<%= locals.oldData ? oldData.price: '' %>"
            />
            <% if (locals.errors && errors.price) { %>
            <p class="text-danger"><%= errors.price.msg %></p>
            <% } %>
          </div>
          <input type="submit"  value="Cargar producto">
        </form>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
