<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <article class="articles">
                <% wineList.forEach(wine=> { %>
                    <div class="article">
                        <img src="<%= wine.imagen %>" alt="<%= wine.nomre %>">
                        <h3>
                            <%= wine.nombre %>
                        </h3>
                        <p>
                            <%= wine.descripcion %>
                        </p>
                        <p></p>
                    </div>
                    <% }) %>
            </article>

    </body>

    <%- include('../partials/footer.ejs') %>

</html>