<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
        <section>
            <div class="container">
                <h2 class="text-center">Modificar producto</h2>
                <form action="/products/productmod/<%= wine.id%>?_method=put" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Nombre del Producto</label>
                        <input type="text" class="form-control" id="name" name="name" required value=" <%= wine.nombre %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" id="description" name="description" required ><%= wine.descripcion %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <img src="<%= wine.imagen || '/images/products/default.jpg' %>" alt="<%= wine.nombre %>">
                        <input type="hidden" name="existingImage" value="<%= wine.imagen %>">
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="form-group">
                        <label for="category">Categoría</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="1" <%= wine.categoria == '1' ? 'selected' : '' %>>Cervezas</option>
                            <option value="2" <%= wine.categoria == '2' ? 'selected' : '' %>>Vinos</option>
                            <option value="3" <%= wine.categoria == '3' ? 'selected' : '' %>>Syrah</option>
                            <option value="4" <%= wine.categoria == '4' ? 'selected' : '' %>>Whiskys</option>
                            <option value="5" <%= wine.categoria == '5' ? 'selected' : '' %>>Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bodega">Bodega</label>
                        <input type="text" class="form-control" id="bodega" name="bodega" required value=" <%= wine.bodega %>">
                    </div>
                    <div class="form-group">
                        <label for="varietal">Varietal</label>
                        <select name="varietal" id="varietal" required>
                            <option value="1" <%= wine.categoria == '1' ? 'selected' : '' %>>Malbec</option>
                            <option value="2" <%= wine.categoria == '2' ? 'selected' : '' %>>Cabernet Sauvignon</option>
                            <option value="3" <%= wine.categoria == '3' ? 'selected' : '' %>>Merlot</option>
                            <option value="4" <%= wine.categoria == '4' ? 'selected' : '' %>>Syrah</option>
                            <option value="5" <%= wine.categoria == '5' ? 'selected' : '' %>>Bonarda</option>
                            <option value="6" <%= wine.categoria == '6' ? 'selected' : '' %>>Chardonnay</option>
                            <option value="7" <%= wine.categoria == '7' ? 'selected' : '' %>>Sauvignon Blanc</option>
                            <option value="8" <%= wine.categoria == '8' ? 'selected' : '' %>>Torrontés</option>
                            <option value="9" <%= wine.categoria == '9' ? 'selected' : '' %>>Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required value="<%= wine.cantidad %>">
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" required value="<%= wine.precio %>">                    </div>
                    <button type="submit" class="btn btn-primary">Editar producto</button>
                </form>
            </div>

        </section>


            <%- include('../partials/footer.ejs') %>


            
    </body>

</html>