<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/productDetail.css" <body>
    <%- include('../partials/header.ejs') %>
        <article class="articles">
            <div class="article">
                <img src="../<%= wine.imagen %>" alt="<%= wine.nombre %>">
                <h3>
                    <%= wine.nombre %>
                </h3>
                <p>
                    <%= wine.descripcion %>
                </p>
                <p>
                    Bodega: <%= wine.bodega %>
                </p>
                <p>
                    $<%= wine.precio %>
                </p>
                <!-- <div class="btn-edit-del">

                </div> -->
                <div class="btn-edit-del">
                    <form action="/products/productdetail/<%= wine.id%>" method="POST">
                        <button class="add-cart">
                            Agregar al carrito
                        </button>
                    </form>
                    <form action="/products/productmod/<%= wine.id%>" method="GET">
                        <button type="submit" class="edit">
                            Editar
                        </button>
                    </form>
                    <form action="/products/productdel/<%= wine.id%>?_method=delete" method="POST">
                        <button type="submit" class="delete">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </article>
        </body>

        <%- include('../partials/footer.ejs') %>

</html>