<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/productDetail.css" 
    <body>
        <%- include('../partials/header.ejs') %>

        <div class="article">
            <img src="../<%= wine.imagen %>" alt="<%= wine.nombre %>">
            <h3>
                <%= wine.nombre %>
            </h3>
            <p>
                <%= wine.descripcion %>
            </p>
            <p>
                Bodega: <%= wine.bodega %>
            </p>
            <p>
                $<%= wine.precio %>
            </p>

            <form action="/products/productdetail/<%= wine.id%>" method="POST">
                <button>
                    Agregar al carrito
                </button>
            </form>
            <div class="btn-edit-del">
                <form action="/products/productmod/<%= wine.id%>" method="GET">
                    <button type="submit">
                        Editar
                    </button>
                </form>
                <form action="/products/productdel/<%= wine.id%>?_method=delete" method="POST">
                    <button type="submit">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>

        </body>

        <%- include('../partials/footer.ejs') %>

</html>