<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
        <main class="form-section">
            <div class="container">
                <h2 class="text-center">Modificar producto</h2>
                <form action="/products/productmod/<%= producto.ID_Product%>?_method=put" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Nombre del Producto</label>
                        <input type="text" class="form-control" id="name" name="name" 
                        value="<%= locals.oldData ? oldData.name : producto.name %>"
                        >
                        <% if (locals.errors && errors.name) { %>
                            <p class="text-danger"><%- errors.name.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" id="drink_description" name="drink_description" >
                            <%= locals.oldData ? oldData.description : producto.drink_description %>
                        </textarea>
                        <% if (locals.errors && errors.description) { %>
                            <p class="text-danger"><%- errors.description.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <img src="<%=producto.Image%>" alt="<%= producto.name %>">
                        <input type="file" class="form-control" id="image" name="Image">
                        <% if (locals.errors && errors.image) { %>
                            <p class="text-danger"><%- errors.image.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        
                        <% if (locals.errors && errors.category) { %>
                            <p class="text-danger"><%- errors.category.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <label for="bodega">Marca</label>
                        <input type="text" class="form-control" id="bodega" name="brand" 
                            value=" <%= locals.oldData ? oldData.bodega : producto.brand %>"
                        >
                        <% if (locals.errors && errors.bodega) { %>
                            <p class="text-danger"><%- errors.bodega.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <label for="drink_type">Tipo de bebida</label>
                        <select class="form-control" id="drink_type" name="drink_type">
                            <% tipo.forEach(drinkType => { %>
                                <option value="<%= drinkType.dataValues.ID_Drinktype %>">
                                    <%= drinkType.dataValues.Name %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="Stock" 
                            value="<%= locals.oldData ? oldData.cantidad : producto.Stock %>"
                        >
                        <% if (locals.errors && errors.cantidad) { %>
                            <p class="text-danger"><%- errors.cantidad.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" 
                        value="<%= locals.oldData ? oldData.price : producto.price %>"
                        >
                        <% if (locals.errors && errors.price) { %>
                            <p class="text-danger"><%- errors.price.msg %></p>
                            <% } %>
                            <p class="text-danger" style="display: none;"></p>
                    </div>
                    <input type="submit" value="Editar producto" class="btn btn-primary">
                </form>
            </div>

        </main>


            <%- include('../partials/footer.ejs') %>


            
    </body>

    <script src="/js/prodMod.js"></script>

</html>